* {
  text-decoration: none;
  list-style: none;
  border: 0px;
  margin: 0%;
  padding: 0%;
  color: black;
}

.logo_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo_img img:hover {
  width: 50px;
  height: 50px;
  border-radius: 45%;
}

.social_icon li a i {
  font-size: 21px;
}

.think_des {
  padding: 0px 125px;
}
.user_login {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1 px solid black;
}

.second_nav li {
  padding: 0 25px;
}
.second_nav li a {
  color: black;
}
.content_card{
  border: 0px;
  display: flex;
  justify-content: center;
}
.content_icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_icon img{
  padding:5px;
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
}
.poster_img img{
  border-radius: 10px;
}